{% extends 'base.html' %}

{% block title %} 
    Lista de tarefas
{% endblock %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>lista de tarefas </h1>

        <a class="add-link" href="newtask">
            <div class="col-2 add-div">
                <i class="fas fa-plus"> </i> Adicionar tarefas
            </div>
        </a>

        <div class="col-9 search-div">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa" >
            <i class="fas fa-solid fa-magnifying-glass"></i>
        </div>
 
     
        {% if messages %}
            <ul class="messages"> 
              {% for message in messages  %}
                <li {% if messages.tags %}{% endif %} class="alert alert-primary" role="{{messages.tags}}"> {{message}} </li>
              {% endfor %}
            </ul>
        {% endif %}


        <ul class="task-list">
            {% for task in tasks %}
            <li class="task-item"> 
                <span> <a href="/task/{{task.id}}">{{task.title}}</a></span>
                <a href="/delete/{{task.id}}" class="delete-btn" onclick="return confirm('Tem certeza?')"> <span> <i class="fas fa-solid fa-trash"></i> </span> </a>
                <a href="/edit/{{task.id}}"> <span> <i class="fas fa-solid fa-edit"></i> </span> </a>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock  %}